<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Load Item with key</Title>
      <Author>Greg Wilson</Author>
      <Description>Create a simple LoadItem for loading data that takes no arguments (E.G. Lists for drop down controls)</Description>
      <Shortcut>ldik</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[private IDataAccessResult<$DataTypeToLoad$> $ResultVariableName$;
    private LoadItem<$DataTypeToLoad$> $LoadItemName$($DatasetVariables$) =>
        new ()
        {
            Key = $$"$KeyName${$DatasetVariableKey$}",
            AsyncLoadTask = async () => $ResultVariableName$ = await DataAccess.$DataAccessMethod$,
            CacheLoadTask = cache => $ResultVariableName$ = new DataAccessResult<$DataTypeToLoad$> { Data = ($DataTypeToLoad$)cache! },
            ResultVariable = () => $ResultVariableName$,
            AfterLoad = () =>
            {
                Debug.Assert($ResultVariableName$.Data != null, "$ResultVariableName$.Data != null");
                //Add after load code here
                $AfterLoadTask$
            }
        };]]>
      </Code>
      <Imports>
        <Import>
          <Namespace>James.Shared.Data</Namespace>
          <Namespace>James.Shared.Data</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal>
          <ID>DataTypeToLoad</ID>
          <ToolTip>Datatype you are loading.</ToolTip>
          <Default>Datatype</Default>
        </Literal>
        <Literal>
          <ID>DatasetVariables</ID>
          <ToolTip>Variables that determine what data is loaded.</ToolTip>
          <Default>string id</Default>
        </Literal>
        <Literal>
          <ID>DatasetVariableKey</ID>
          <ToolTip>Key part to cache per input variables.</ToolTip>
          <Defaut>id</Defaut>
        </Literal>
        <Literal>
          <ID>KeyName</ID>
          <ToolTip>UniqueKey.</ToolTip>
          <Default>TheKey</Default>
        </Literal>
        <Literal>
          <ID>ResultVariableName</ID>
          <ToolTip>Name of result variable.</ToolTip>
          <Default>_loadResult</Default>
        </Literal>
        <Literal>
          <ID>LoadItemName</ID>
          <ToolTip>Name of LoadItem.</ToolTip>
          <Default>MyLoadItem</Default>
        </Literal>
        <Literal>
          <ID>DataAccessMethod</ID>
          <ToolTip>Method used to load from IDataAccess.</ToolTip>
          <Default>GetMyData()</Default>
        </Literal>
        <Literal>
          <ID>AfterLoadTask</ID>
          <ToolTip>Task to perform.</ToolTip>
          <Default>&lt;Code to load result into page variable, etc.&gt;</Default>
        </Literal>
      </Declarations>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>