<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="JamesSource" connectionString="Server=usilg01-dwd057;Database=JamesDev;Integrated Security=SSPI;MultipleActiveResultSets=True;TrustServerCertificate=true;"/>
		<add name="SnapDestination" connectionString="Server=(localdb)\mssqllocaldb;Database=JamesTestSnap;Integrated Security=SSPI;MultipleActiveResultSets=True;TrustServerCertificate=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="BackupNetworkFolder" value="\\USUBL-BSG125324\JamesSnapBackup"/>
		<add key="LocalRestoreFolder" value ="c:\temp\JamesSnapBackup"/>
		<add key="SqlDataFilesDirectory" value ="c:\temp\JamesSnapFiles"/>
		<add key="ScriptsDirectory" value ="c:\temp\JamesSnapScripts"/>
	</appSettings>
</configuration>